<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
  </p>
</div>
<form class="leave-comment" data-blogid="{{id}}" >
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="comment-input" placeholder="comments" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Leave comment</button>
  <h1>Comments</h1>
  {{#each Comments as |comment|}}
  <ul>
    <li>Comment: {{comment.Comment}}</li>
    </ul>
  {{/each}}
</form>
<script src="/js/comment.js"></script>